<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>

<head>
    <% include ../includes/meta.ejs %>
    <!--/meta 作为公共模版分离出去-->
    <title>悉道设备监控与分发云平台</title>
</head>

<body>
    <!--_header 作为公共模版分离出去-->
    <% include ../includes/header.ejs %>
    <!--/_header 作为公共模版分离出去-->

    <aside class="Hui-aside">
        <div class="menu_dropdown bk_2">
                    <dl id="menu-article">
                        <dt><i class="Hui-iconfont">&#xe616;</i> 设备管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                        <dd>
                            <ul>
                                <li ><a href="/equipment/list" title="设备列表">设备列表</a></li>
                                <li ><a href="/equipment/map" title="设备监控">设备监控</a></li>
                                <li class="current"><a href="/project/list" title="任务列表">任务列表</a></li>
                            </ul>
                        </dd>
                    </dl>
                </div>
    </aside>

    <div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>

    <section class="Hui-article-box">
        <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/" class="maincolor">首页</a>
            <span class="c-999 en">&gt;</span>
            <span class="c-666">我的桌面</span>
            <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);"
                title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
        <div class="Hui-article">
            <article class="cl pd-20">
                <p class="f-20 text-success">欢迎页
                </p>
                
               
            </article>
            <footer class="footer">
                 Copyright &copy;2017 cdo All Rights Reserved.<br> 本后台系统由<a href="http://www.h-ui.net/" target="_blank"
                        title="">悉道建筑科技</a>提供技术支持</p>
            </footer>
        </div>
    </section>

    <% include ../includes/footer.ejs %>
</body>

</html>