<html>
<head>
    <% include ../includes/meta.ejs %>
<title>悉道物料数据共享平台</title>
<style type="text/css">
	html,body{height:auto;}
	#suggest, #suggest2 {width:200px;}
	.gray {color:gray;}
	.ac_results {background:#fff;border:1px solid #7f9db9;position: absolute;z-index: 10000;display: none;}
	.ac_results li a {white-space: nowrap;text-decoration:none;display:block;color:#05a;padding:1px 3px;}
	.ac_results li {border:1px solid #fff;}
	.ac_over, .ac_results li a:hover {background:#c8e3fc;}
	.ac_results li a span {float:right;}
	.ac_result_tip {border-bottom:1px dashed #666;padding:3px;}

	/* .item:hover
	{
	 background-color: Gray;
	 cursor:pointer;
	}
	.show
	{
	 width: 200px;
	 z-index: 10;
	 display: block;
	}
	.hidden
	{
	 width: 200px;
	 z-index: 10;
	 display: none;
	 border:1px solid rgb(80,160,91);
	 border-top:none;
	}
	table tr td
	{
	 margin:none;
	 padding:none;
	 border:none;
	} */
   </style>
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" method="post" id="form-supply-add" action="/material/supply/addSupply">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>供应商：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="supplybookId" class="select">
					<% for(var j=0; j<supplybook.length; ++j) { %> 
						<option value="<%=supplybook[j].id%>" <%if(supplybook[j]!=null&&supply!=null&&supplybook[j].id==supply.supplybookId){%> selected="selected" <%}%>> <%=supplybook[j].supplyname%> </option>
					<% } %>
				</select>
				</span> </div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>物料编码：</label>

			<div class="formControls col-xs-8 col-sm-9">
				<input class="input-text inline" type="text"  align="center" name="city2" id="city2" onkeyup="txtchange()"/>
			</div>
			<div id='suggest2' class="ac_results"> </div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>价格：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="required input-text" onkeyup="value=value.replace(/[^\d.]/g,'')"  value="<%if(supply!=null){%><%=supply.supplyprice%><%}%>" placeholder="" id="supplyprice" name="supplyprice" title="价格不能为空">
			</div>
		</div>
		
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button id="supply_save_submit" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存 </button>
			</div>
		</div>
	</form>
</article>

<% include ../includes/footer.ejs %>

<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript" src="../../lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="../../lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="../../lib/jquery.validation/1.14.0/messages_zh.js"></script>   
<script type="text/javascript" src="../../lib/webuploader/0.1.5/webuploader.min.js"></script> 
<script type="text/javascript" src="../../js/suggest.js"></script> 

<script type="text/javascript">
	// //选择其中的提示内容
	// function mousedown(object) {
	// 	$("#intxt").val($(object).text());
	// 	$("#tbcontent").fadeOut();
	// }
	// //文档框失去焦点，隐藏提示内容
	// function lost() {
	// 	$("#tbcontent").fadeOut();
	// }

	$(document).ready(function() {
				$("#form-supply-add").validate({
					submitHandler: function(form){
						$(form).ajaxSubmit(function(data){
							parent.window.location.href='/material/supply/list';
							var index = parent.layer.getFrameIndex(window.name);
							//关闭弹出层
							parent.layer.close(index);
						}); 
					}
				});
	});


	function txtchange() {
		var code = $("#city2").val();
		$.ajax({
				type: "get",
				url: "/material/material/codetip",
				data: { code: code },
				dataType: "json",
				success: function (data) {
					$("#city2").html(""); //删除原有数据
					var citys=new Array();
					$.each(data, function (i, item) {  
						citys[i]=new Array(item.id,item.id,item.name,item.id);
					});  
					$("#city2").suggest(citys,{hot_list:citys,attachObject:"#suggest2"});
				}
			});
  	}

</script>
</body>
</html>