<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>

<head>
    <% include ../includes/meta.ejs %>
    <!--/meta 作为公共模版分离出去-->
    <title>悉道设备监控与分发云平台</title>
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.0&key=29d2dc0f97050a4e13315f2e745ed6ce&plugin=AMap.CloudDataSearch"></script>    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
    <style type="text/css">
        .info {
            border: solid 1px silver;
        }
        div.info-top {
            position: relative;
            background: none repeat scroll 0 0 #F9F9F9;
            border-bottom: 1px solid #CCC;
            border-radius: 5px 5px 0 0;
        }
        div.info-top div {
            display: inline-block;
            color: #333333;
            font-size: 14px;
            font-weight: bold;
            line-height: 31px;
            padding: 0 10px;
        }
        div.info-top img {
            position: absolute;
            top: 10px;
            right: 10px;
            transition-duration: 0.25s;
        }
        div.info-top img:hover {
            box-shadow: 0px 0px 5px #000;
        }
        div.info-middle {
            font-size: 12px;
            padding: 6px;
            line-height: 20px;
        }
        div.info-bottom {
            height: 0px;
            width: 100%;
            clear: both;
            text-align: center;
        }
        div.info-bottom img {
            position: relative;
            z-index: 104;
        }
        span {
            margin-left: 5px;
            font-size: 11px;
        }
        .info-middle img {
            float: left;
            margin-right: 6px;
        }
    </style>
</head>

<body>
    <!--_header 作为公共模版分离出去-->
    <% include ../includes/header.ejs %>
    <!--/_header 作为公共模版分离出去-->

    <aside class="Hui-aside">
        <div class="menu_dropdown bk_2">
                    <dl id="menu-article">
                        <dt><i class="Hui-iconfont">&#xe616;</i> 设备管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                        <dd style="display:block">
                            <ul>
                                <li ><a href="/equipment/list" title="设备列表">设备列表</a></li>
                                <li class="current"><a href="/equipment/map" title="设备监控">设备监控</a></li>
                            </ul>
                        </dd>
                    </dl>
                </div>
    </aside>
    <div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>

    <section class="Hui-article-box">
            <nav class="breadcrumb">
                <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
            </nav>

            <nav class="breadcrumb" style="height:70%">
            <div id="container"></div>
            <div class="button-group">
                <input type="button" class="button" value="刷新位置" id="add2" onclick = 'getlastdeviceloc()'/>
            </div>
            </nav>
            <nav class="breadcrumb hehe"   style=" height:30%;width:100%">
                    <div style="position:absolute; height:100%;width:100%; overflow:auto;margin-top: 20px;margin-bottom: 20px;">
                            <table class="table table-border table-bordered table-bg table-sort"  >
                                    <thead>
                                        <tr class="text-c">
                                            <th width="70">报警参数</th>
                                            <th width="120">报警参数</th>
                                            <th width="120">报警参数</th>
                                            <th width="120">报警参数</th>
                                            <th width="120">报警参数</th>
                                            <th width="120">报警参数</th>
                                            <th width="120">报警参数</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-c">
                                            <td>data</td>
                                            <td>data </td>
                                            <td>data </td>
                                            <td>data </td>
                                            <td>data </td>
                                            <td>data </td>
                                            <td>data </td>
                                        </tr>
                                        <tr class="text-c">
                                                <td>data</td>
                                                <td>data </td>
                                                <td>data </td>
                                                <td>data </td>
                                                <td>data </td>
                                                <td>data </td>
                                                <td>data </td>
                                            </tr>
                                            <tr class="text-c">
                                                    <td>data</td>
                                                    <td>data </td>
                                                    <td>data </td>
                                                    <td>data </td>
                                                    <td>data </td>
                                                    <td>data </td>
                                                    <td>data </td>
                                                </tr>
                                                <tr class="text-c">
                                                        <td>data</td>
                                                        <td>data </td>
                                                        <td>data </td>
                                                        <td>data </td>
                                                        <td>data </td>
                                                        <td>data </td>
                                                        <td>data </td>
                                                    </tr>
                                                    <tr class="text-c">
                                                            <td>data</td>
                                                            <td>data </td>
                                                            <td>data </td>
                                                            <td>data </td>
                                                            <td>data </td>
                                                            <td>data </td>
                                                            <td>data </td>
                                                        </tr>
                                                        <tr class="text-c">
                                                                <td>data</td>
                                                                <td>data </td>
                                                                <td>data </td>
                                                                <td>data </td>
                                                                <td>data </td>
                                                                <td>data </td>
                                                                <td>data </td>
                                                            </tr>
                                                            <tr class="text-c">
                                                                    <td>data</td>
                                                                    <td>data </td>
                                                                    <td>data </td>
                                                                    <td>data </td>
                                                                    <td>data </td>
                                                                    <td>data </td>
                                                                    <td>data </td>
                                                                </tr>
                                                                <tr class="text-c">
                                                                        <td>data</td>
                                                                        <td>data </td>
                                                                        <td>data </td>
                                                                        <td>data </td>
                                                                        <td>data </td><td>data </td><td>data </td>
                                                                    </tr>
                                                                    <tr class="text-c">
                                                                            <td>谁说的</td>
                                                                            <td>谁说的</td>
                                                                            <td>谁说的</td>
                                                                            <td>谁说的</td>
                                                                            <td>谁说的</td>
                                                                            <td>谁说的</td>
                                                                            <td>谁说的</td>
                                                                        </tr>
                                                                        
                                    </tbody>
                                </table>
                    </div>
                
            </nav>

    </section>
    
        <% include ../includes/footer.ejs %>
        <script src="http://a.amap.com/jsapi_demos/static/china.js"></script>
        <script>
            	//地图初始化时，在地图上添加一个marker标记,鼠标点击marker可弹出自定义的信息窗体
            var map = new AMap.Map("container", {
                resizeEnable: true,
                center: [114.48, 30.99],
                zoom: 16
            });    

            //添加marker标记
            function addMarkers(markers) {
                if(eval(markers).length==0)
                    return;
                map.clearMap();

                for(var i=0;i<eval(markers).length;i++)
                {
                    var marker = new AMap.Marker({
                    map: map,
                    position: [markers[i].longitude, markers[i].latitude]
                    });

                    //实例化信息窗体
                    var title = markers[i].customer+'<span style="font-size:11px;color:#F00;">设备编号:'+markers[i].code+'</span>',
                        content = [];
                    
                    content.push("<img src='http://tpc.googlesyndication.com/simgad/5843493769827749134'>地址：北京市朝阳区阜通东大街6号院3号楼东北8.3公里");
                    content.push("电话：010-64733333");
                    content.push("出厂日期："+markers[i].buytime);
                    content.push("<a href='http://ditu.amap.com/detail/B000A8URXB?citycode=110105'>详细信息</a>");
                    var infoWindow = new AMap.InfoWindow({
                        isCustom: true,  //使用自定义窗体
                        content: createInfoWindow(title, content.join("<br/>")),
                        offset: new AMap.Pixel(16, -45)
                    });

                    //鼠标点击marker弹出自定义的信息窗体
                    AMap.event.addListener(marker, 'click', function() {
                        infoWindow.open(map, marker.getPosition());
                    });
                }
                var centerpnt=AMap.LngLat(markers[0].longitude, markers[0].latitude);
                map.setCenter(centerpnt);
            }

            function getlastdeviceloc()
            {
                $.ajax({
                    type: 'GET',
                    url: '/equipment/equipmentData',
                    dataType: 'json',
                    success: function(data){
                        if(data!=null)
                        {
                            addMarkers(data);
                        }
                    },
                    error:function(data) {
                        console.log(data.msg);
                    },
                });		
            }


            //构建自定义信息窗体
            function createInfoWindow(title, content) {
                var info = document.createElement("div");
                info.className = "info";

                //可以通过下面的方式修改自定义窗体的宽高
                //info.style.width = "400px";
                // 定义顶部标题
                var top = document.createElement("div");
                var titleD = document.createElement("div");
                var closeX = document.createElement("img");
                top.className = "info-top";
                titleD.innerHTML = title;
                closeX.src = "http://webapi.amap.com/images/close2.gif";
                closeX.onclick = closeInfoWindow;

                top.appendChild(titleD);
                top.appendChild(closeX);
                info.appendChild(top);

                // 定义中部内容
                var middle = document.createElement("div");
                middle.className = "info-middle";
                middle.style.backgroundColor = 'white';
                middle.innerHTML = content;
                info.appendChild(middle);

                // 定义底部内容
                var bottom = document.createElement("div");
                bottom.className = "info-bottom";
                bottom.style.position = 'relative';
                bottom.style.top = '0px';
                bottom.style.margin = '0 auto';
                var sharp = document.createElement("img");
                sharp.src = "http://webapi.amap.com/images/sharp.png";
                bottom.appendChild(sharp);
                info.appendChild(bottom);
                return info;
            }

            //关闭信息窗体
            function closeInfoWindow() {
                map.clearInfoWindow();
            }
        </script>
   
</body>

</html>