<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>

<head>
    <% include ../includes/meta.ejs %>
    <!--/meta 作为公共模版分离出去-->
    <title>悉道设备监控与分发云平台</title>
</head>

<body>

    <div class="page-container">
            <p class="f-20 text-success">欢迎页面</p>
    </div>
   
    <footer class="footer">
        Copyright &copy;2017 cdo All Rights Reserved.<br> 本后台系统由<a href="http://www.h-ui.net/" target="_blank"
                title="">悉道建筑科技</a>提供技术支持</p>
    </footer>
    <% include ../includes/footer.ejs %>
</body>

</html>