<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <% include ../includes/meta.ejs %>
<!--/meta 作为公共模版分离出去-->
<title>悉道设备监控与分发云平台</title>
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" method="post" id="form-scheme-add" action="/scheme/addScheme" enctype="multipart/form-data">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>方案名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="required input-text" onkeyup="value=value.replace(/#/g,'')" value="<%if(scheme!=null){%><%=scheme.name%><%}%>" <%if(scheme!=null&&scheme.id!=null){%> readonly="readonly" <%}%> id="schemeName" name="schemeName">
				<input type="hidden" class="input-text" value="<%if(scheme!=null){%><%=scheme.id%><%}%>" name="schemeId">
				<input type="hidden" value="<%if(scheme!=null){%><%=scheme.name%><%}%>" id="oldName" name="oldName">
			</div>
		</div>
		
        <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>数据文件：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input   class="required" accept=".zip" type="file" id="file1" name="file1" />
			</div>
		</div>
		
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button id="scheme_save_submit" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
			</div>
		</div>
	</form>
</article>

<% include ../includes/footer.ejs %>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="../../lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="../../lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="../../lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="../../lib/jquery.validation/1.14.0/messages_zh.js"></script>   
<script type="text/javascript" src="../../lib/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript" >
		$(document).ready(function() {
			var schemeName = $("#schemeName").val();
			$("#schemeName").focus();

			jQuery.validator.addMethod("checkfile", function(value, element) {
				var filepath=$("#file1").val();
				//获得上传文件名
				var fileArr=filepath.split("\\");
				var fileTArr=fileArr[fileArr.length-1].toLowerCase().split(".");
				var filetype=fileTArr[fileTArr.length-1];
				//切割出后缀文件名
				if(filetype != "zip"){
					return false;
				}else{
					return true;
				}
			}, "上传文件格式必须为zip");

			$("#form-scheme-add").validate({
				// focusInvalid: false,
				rules : {
						schemeName : {
								remote : "/scheme/checkName?oldName=" + encodeURIComponent(schemeName)
						},
						file1 : {
							checkfile:true
						}
						},
						messages : {
							schemeName : {
								remote : "该方案名称已存在"
							}
						},
				submitHandler: function(form){  
					$(form).ajaxSubmit(function(data){
						parent.window.location.href='/scheme/list';
						var index = parent.layer.getFrameIndex(window.name);
						//关闭弹出层
						parent.layer.close(index);
					}); 
				}
			});
		});

</script>

</body>
</html>